.gpt3__footer {
  background: #031b34;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.gpt3__footer h1 {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 800;
  font-size: 62px;
  line-height: 75px;
  /* or 121% */

  text-align: center;
  letter-spacing: -0.04em;

  background: var(--gradient-text);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.gpt3__footer button {
  box-sizing: border-box;

  font-family: var(--font-family);
  font-size: 18px;
  line-height: 21px;

  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 1rem 2rem;
  background: none;
  margin: 3rem;
}

.gpt3__footer-navbar {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  margin-top: 2rem;
}

.gpt3__footer-navbar__logo,
.gpt3__footer-navbar__nav,
.gpt3__footer-navbar__company,
.gpt3__footer-navbar__get {
  flex: 1;
  display: unset;
  flex-direction: column;
  font-size: 18px;
  line-height: 28px;
}

.gpt3__footer-navbar__logo p {
  color: #ffffff;
}

.footer__logo {
  margin-right: 7rem;
}

.footer__logo p {
  font-family: var(--font-family);
  margin-top: 0.5rem;
}

.footer__list {
  color: #ffffff;
  font-family: var(--font-family);
}
.footer__list ul {
  list-style: none;
  padding: 1rem;
}
.footer__list ul li {
  margin: 1rem 0;
}
.footer__list p {
  font-weight: 800;
}

.gtp3__footer-copyright {
  color: #ffffff;
  font-family: var(--font-family);
}

@media screen and (max-width: 990px) {
  .gpt3__footer h1 {
    font-size: 52px;
    line-height: 62px;
  }
}

@media screen and (max-width: 550px) {
  .gpt3__footer h1 {
    font-size: 32px;
    line-height: 42px;
  }
  .gpt3__footer-navbar {
    flex-direction: column;
  }
}
